<?xml version="1.0" encoding="UTF-8"?>
<plugin title="repoEX" loader="DEFAULT">
<overlays>
		<overlay id="startup.repoEX" resourcebundle="content/repoEX/resources/lang/messages">
			<menubar id="toolsmenu">
	        	<menuitem id="Repo.Ex" label="${Launcher.repoEX}" command="mantleXulHandler.openUrl('${Launcher.repoEX}','${Launcher.repoEX_TOOLTIP}','plugin/repoEX/api/default')"/>
	      	</menubar>
	    </overlay>
	</overlays>
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/repoEX/static" localFolder="static"/>
		<static-path url="/repoEX/resources" localFolder="resources"/>
		<static-path url="/repoEX/dashboards" localFolder="dashboards"/>
		<static-path url="/repoEX/endpoints" localFolder="endpoints"/>
	</static-paths>
	<content-types>
		<content-type>
			<title>Repo.EX</title>
			<description></description>
			<company name="Oncase" url="http://www.oncase.com.br/en" logo="@PLUGIN_COMPANY_LOGO@"></company>
		</content-type>
	</content-types>
	<content-generator
		id="repoEX"
		title="Repo.EX"
		type="repoEX"
		class="pt.webdetails.cpk.CpkContentGenerator"/>
	<!-- Menu entry -->
	<menu-items>
		<!--<menu-item id="repoEX_main" anchor="tools-submenu" label="RepoEX" command="content/repoEX/" type="MENU_ITEM" how="LAST_CHILD"/>-->
	</menu-items>
</plugin>
